[Unit]
Description="HAProxy reverse proxy for high availability environments."

[Service]
ExecStart=/usr/bin/docker run -t -i -v /etc/sysconfig/haproxy:/etc/sysconfig/haproxy:ro -v /etc/haproxy/haproxy.cfg:/etc/haproxy/haproxy.cfg:ro --name haproxy-container haproxy
ExecStop=/usr/bin/docker stop -t 2 haproxy-container
ExecStopPost=/usr/bin/docker rm -f haproxy-container

[Install]
WantedBy=multi-user.target
