[Unit]
Description="HAProxy reverse proxy for high availability environments."

[Service]
ExecStart=/usr/bin/docker run -d --net host -v /etc/haproxy/haproxy.cfg:/etc/haproxy/haproxy.cfg:ro -p 80:80 --name haproxy modularitycontainers/haproxy
ExecStop=/usr/bin/docker stop -t 2 haproxy
ExecStopPost=/usr/bin/docker rm -f haproxy
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
